body {
    background-image: linear-gradient(185deg, rgb(74, 110, 132) 30%, rgb(208, 119, 68));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.form {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(208, 119, 68);
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
    color: rgb(74, 110, 132);
}

caption {
    font-family: 'Russo One', sans-serif;
    font-size: 33px;
    background-color: rgb(208, 119, 68);
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 7px;
    margin-left: 7px;
    padding: 10px;
    border-radius: 10px;
}

table {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: auto;
    margin-bottom: 50px;
    color: rgb(74, 110, 132);
    border-spacing: 7px;
    table-layout: auto;
}

th {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(208, 119, 68);
    color: white;
}

td {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: white;
}

.name_input {
    display: inline-flex;
    margin: 20px;
}

.name,
.last_name {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.input_font,
.textarea {
    font-family: 'Play', sans-serif;
    font-size: 14px;
}

.male_female {
    margin-bottom: 20px;
}

.your_sex {
    font-weight: bold;
}

.question {
    margin: 0px;
    font-weight: bold;
}

.city_choice {
    margin: 20px;
    color: rgb(74, 110, 132);
}

.language_selection {
    margin: 20px;
}

.language {
    font-weight: bold;
}

.send {
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    outline: 0;
    color: rgb(74, 110, 132);
    background: white;
    box-shadow: inset 0 -2px 0 0 rgb(74, 110, 132);
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.send:active {
    background: rgb(74, 110, 132);
    color: white;
    box-shadow: inset 0 -3px 0 0 white;
}

.wrong1 {
    color: red;
    text-decoration: line-through;
}

.wrong2 {
    color: red;
    -webkit-animation: blink2 1s linear infinite;
    animation: blink2 1s linear infinite;
}

@-webkit-keyframes blink2 {
    100% {
        color: rgba(34, 34, 34, 0);
    }
}

@keyframes blink2 {
    100% {
        color: rgba(34, 34, 34, 0);
    }
}

button,
select,
input,
textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
    padding: 5px;
}

.invisible i {
    visibility: hidden;
}